<header class="site-header">
  <div class="nav-bar">
    <div class="nav-left">
      <button class="sliding-panel-button menu-toggle">
       Menu
      </button>
      <h1 class="site-logo"><a href="/">Proyecto Mirador</a></h1>
    </div>
    <div class="nav-right">  
      <input class="header-search" type="text" id="text_field" placeholder="Search The Site">
      <a class="button donate">Buy a Stove!</a> 
    </div>
  </div>

  <!-- Offscreen Nav -->
  {% include offscreen-nav.html %}
</header>
