<header class="site-header">
  <div class="nav-bar">
    <div class="nav-left">
      <a href="javascript:void(0)" class="sliding-panel-button menu-toggle">
       Menu
      </a>
      <h1 class="site-logo"><a href="#">Proyecto Mirador</a></h1>
    </div>
    <div class="nav-right">  
      <input class="header-search" type="text" id="text_field" placeholder="Search The Site">
      <a class="button donate">Donate Now</a> 
    </div>
  </div>

  <!-- Offscreen Nav -->
  {% include offscreen-nav.html %}
</header>
