<section class="deep-dive">
  <img src="http://placehold.it/800x450">
  <div class="deep-dive-text">
    <h2>Stove Benefits</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat iaculis pellentesque. Cras pretium quam sed sem varius, nec lobortis metus eleifend. Nulla facilisi. Sed tempor mauris a fringilla iaculis. Proin non finibus leo. Vestibulum vestibulum viverra leo ac congue. Maecenas facilisis diam neque.</p>
    <a class="button">Learn About Stove Benefits</a>
  </div>
</section>

<section class="deep-dive">
  <img src="http://placehold.it/800x450">
  <div class="deep-dive-text">
    <h2>Why Honduras</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat iaculis pellentesque. Cras pretium quam sed sem varius, nec lobortis metus eleifend. Nulla facilisi. Sed tempor mauris a fringilla iaculis. Proin non finibus leo. Vestibulum vestibulum viverra leo ac congue. Maecenas facilisis diam neque.</p>
    <a class="button">Learn About Honduras</a>
  </div>
</section>

<section class="deep-dive">
  <img src="http://placehold.it/800x450">
  <div class="deep-dive-text">
    <h2>Carbon Emissions</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat iaculis pellentesque. Cras pretium quam sed sem varius, nec lobortis metus eleifend. Nulla facilisi. Sed tempor mauris a fringilla iaculis. Proin non finibus leo. Vestibulum vestibulum viverra leo ac congue. Maecenas facilisis diam neque.</p>
    <a class="button">Learn About Carbon Emissions</a>
  </div>
</section>

<section class="deep-dive">
  <img src="http://placehold.it/800x450">
  <div class="deep-dive-text">
    <h2>Project Leadership</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat iaculis pellentesque. Cras pretium quam sed sem varius, nec lobortis metus eleifend. Nulla facilisi. Sed tempor mauris a fringilla iaculis. Proin non finibus leo. Vestibulum vestibulum viverra leo ac congue. Maecenas facilisis diam neque.</p>
    <a class="button">Learn About Our Leadership</a>
  </div>
</section>

<section class="deep-dive">
  <img src="http://placehold.it/800x450">
  <div class="deep-dive-text">
    <h2>A Complete Solution</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat iaculis pellentesque. Cras pretium quam sed sem varius, nec lobortis metus eleifend. Nulla facilisi. Sed tempor mauris a fringilla iaculis. Proin non finibus leo. Vestibulum vestibulum viverra leo ac congue. Maecenas facilisis diam neque.</p>
    <a class="button">Learn About Our Complete Solution</a>
  </div>
</section>