<section class="deep-dive">
  <h1 class="section-heading">Why Choose Mirador?</h1>
  
  <div class="deep-dive-item">
    <img src="http://placehold.it/800x450">
    <div class="deep-dive-text">
      <h2>Experience</h2>
      <h3>More than 100,000 stoves built, but 500,000 families still need them.</h3>
      <p>Mirador began work in 2004 with 3 employees. We now have 130 direct and indirect employees. Here’s how we work from the community up.</p>
      <a class="button">Learn About Our Experience.</a>
    </div>
  </div>

  <div class="deep-dive-item">
   
    <img src="http://placehold.it/800x450">
    <div class="deep-dive-text">
      <h2>Leadership</h2>
      <h3>On-the-ground in Honduras and United States business know-how</h3>
      <p>Our team has overseen the scaled up construction of more than 100,000 stoves in the last 5 years by Ejecutores of the project, and collectively manage over 130 employees.</p>
      <a class="button">Meet the Mirador people.</a>
    </div>
  </div>

  <div class="deep-dive-item">
    <img src="http://placehold.it/800x450">
    <div class="deep-dive-text">
      <h2>Data</h2>
      <h3>We know where our stoves are and who is using them.</h3>
      <p>Every technician has a smart phone and we collect household data on every stove.</p>
      <a class="button">See how we do it.</a>
    </div>
  </div>

  <div class="deep-dive-item">
    <img src="http://placehold.it/800x450">
    <div class="deep-dive-text">
      <h2>Highest Quality</h2>
      <h3>Latin American carbon credits certified annually by the Gold Standard.</h3>
      <p>Certification is a complicated, scientific, multi-step process, and we're leading the way.</p>
      <a class="button">Learn About Our Quality Process.</a>
    </div>
  </div>
</section>

