<section class="home-intro-blocks">
  <h1 class="section-heading">With a simple stove, we can&colon; </h1>

  <div class="cards">
    
    <div class="card">
      <div class="card-image">
        <a href="#"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-2.png" alt=""></a>
      </div>
      <div class="card-header">
        <a href="#"><h3>Help impoverished Honduran families cook affordably</h3></a>
      </div>
      <div class="card-copy">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae.</p>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <a href="#"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-2.png" alt=""></a>
      </div>
      <div class="card-header">
        <a href="#"><h3>Provide 5 years of smoke free cooking</h3></a>
      </div>
      <div class="card-copy">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <a href="#"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-2.png" alt=""></a>
      </div>
      <div class="card-header">
        <a href="#"><h3> Save our planet from 15 tonnes of carbon pollution</h3></a>
      </div>
      <div class="card-copy">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <a href="#"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-2.png" alt=""></a>
      </div>
      <div class="card-header">
        <a href="#"><h3>Help 17 small businesses thrive</h3></a>
      </div>
      <div class="card-copy">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      </div>
    </div>

  </div>

</section>