<nav class="js-menu sliding-panel-content">
  <ul>
    <li class="close-toggle"><a href="javascript:void(0)" class="sliding-panel-button">Close X</a></li>
    {% for link in site.data.primary-navigation %}
    <li><a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
    {% endfor %}
  </ul>
  <input type="text" id="text_field" placeholder="Search The Site">
  <a class="button">Donate Now</a>
  <a class="button">Contact Us</a>
  <div class="dropdown language-select">
    <div class="dropdown-container">
      <p class="dropdown-description">Language</p>
      <p class="dropdown-button">English</p>
      <ul class="dropdown-menu dropdown-select">
        <li>English</li>
        <li>Español</li>
      </ul>
    </div>
  </div>
</nav>

<div class="js-menu-screen sliding-panel-fade-screen"></div>
