.hero {
  text-align: center;
  position: relative;
  margin-bottom: $gutter;
}

.hero img {
  vertical-align: bottom;
}

.hero .hero-text {
  background: lighten($light-gray, 5%);
  padding: 1em;

  @include media($medium-large-screen) {
    position: absolute;
    bottom: 3em;
    width: 100%;
    padding: 0;
    text-align: center;
    background: transparent;
  }

  h1 {
    @include media($medium-large-screen) {
      max-width: 25em;
      margin: 0 auto 1em auto;
    }
  }

  p.summary {
    @include media($medium-screen) {
      font-size: 1.25em;
    }
  }
}